@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme {
  --font-display: "Ancizar Serif", serif;

  --color-primary: #c08552;
  --color-primary-100: #f3e9dc;
  --color-primary-300: #895737;
  --color-primary-400: #5e3023;

  --radius: 10px; 
  --radius-full: 9999px;
}

/* @layer base {
  html {
    font-family: "Ancizar Serif", system-ui, serif;
  }
} */

a:hover {
  @apply text-primary;
}

.animate, a, a:hover {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition:  all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/*
:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-sans);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
*/